
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helveticaneue.otf');
    src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
url('../fonts/helveticaneue.woff2') format('woff2'),
url('../fonts/helveticaneue.woff') format('woff'),
url('../fonts/helveticaneue.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FacebookLetterFaces';
    src: url('../fonts/facebook-letter-faces.otf');
    src: url('../fonts/facebook-letter-faces.eot?#iefix') format('embedded-opentype'),
url('../fonts/facebook-letter-faces.woff2') format('woff2'),
url('../fonts/facebook-letter-faces.woff') format('woff'),
url('../fonts/facebook-letter-faces.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #ebebeb;
    background-size: cover;
    color: #fff;
    font-family: HelveticaNeue, Tahoma, sans-serif;
    font-size: 14px;
}

.wrapper {
    width: 1215px;
    height: 1064px;
    margin: 0 auto;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: -357px 35px;
}

.clearfix:after {
    display: table;
    clear: both;
    content: '';
}

/* header */

header {
    background: url('../img/bck.png') #074f8f repeat-x;
}

.upper-line {
    margin-right: 23px;
}

header nav,
.offer,
.signup {
    float: right;
}

/* - signup links */

.signup {
    padding: 0 12px;
    border: 1px solid #459ad4;
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    line-height: 34px;
}

.signup a {
    color: #fff;
    text-decoration: underline;
}

.signup a:hover {
    text-decoration: none;
}

/* - client offers */

.offer {
    position: relative;
    padding: 0 14px 0 48px;
}

.offer a {
    color: #fff;
    line-height: 36px;
    text-decoration: none;
}

.offer a:hover {
    text-decoration: underline;
}

/* -- flag icon */
.offer a:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 18px;
    width: 21px;
    height: 23px;
    margin-top: -11px;
    background: url('../img/flag.png') 0 0 no-repeat;
    content: '';
}

/* - menu part */

/* -- vertical blue separator */
.menu:before {
    display: block;
    width: 10px;
    height: 32px;
    margin: 2px 0;
    float: right;
    border-right: 1px solid #56a2dc;
    content: '';
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    padding: 0 12px;
    color: #60b5ed;
    line-height: 36px;
    text-decoration: none;
}

.menu li a:hover {
    transition: background-color .2s;
    background-color: #4eabda;
    color: #fff;
}

/* content */

.content {
    margin: 213px 0 0 353px;
}

/* signup form */

.form {
    width: 560px;
    padding-bottom: 21px;
    background-color: rgba(0, 0, 0, .6);
}

.form h2 {
    border-bottom: 2px solid #bdc5b6;
    font-size: 24px;
    line-height: 62px;
    text-align: center;
}

/* - Facebook button*/

.fb-login {
    position: relative;
    width: 276px;
    margin: 36px auto;
    border-top: 1px solid #7889b5;
    border-radius: 3px;
    background: linear-gradient(to top, #2e4476, #3b5798);
}

.fb-login a {
    display: block;
    padding-left: 70px;
    color: #fff;
    font-size: 15px;
    line-height: 34px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .7);
}

.fb-login a span {
    font-family: FacebookLetterFaces, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.fb-login a:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

/* -- vertical separator */
.fb-login:before {
    position: absolute;
    top: 10px;
    left: 37px;
    height: 35px;
    margin-top: -11px;
    border-right: 1px solid #4d66a6;
    border-left: 1px solid #213c71;
    content: '';
}

/* -- "f" icon */
.fb-login a:before {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 8px;
    height: 21px;
    margin-top: -11px;
    background-image: url('../img/fb.png');
    background-position: 0 0;
    content: '';
}

/* -- ">" icon */
.fb-login a:after {
    position: absolute;
    top: 50%;
    right: 26px;
    width: 7px;
    height: 21px;
    margin-top: -10px;
    background-image: url('../img/fb.png');
    background-position: -9px 0;
    content: '';
}

.or-sep {
    margin: -6px 0 30px;
    color: #999;
    text-align: center;
}

/* -- separator lines*/
.or-sep:before,
.or-sep:after {
    display: inline-block;
    width: 121px;
    height: 0;
    margin: 0 6px 4px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
    line-height: 0;
    content: '';
}

form {
    color: #ccc;
}

form [type="text"],
form [type="email"],
form [type="password"] {
    display: block;
    width: 238px;
    margin: 19px auto;
    padding: 0 19px;
    border: 0;
    border-bottom: 1px solid #494949;
    background: linear-gradient(to top, #111, #0e0e0e);
    color: #fff;
    font-family: HelveticaNeue, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 35px;
}

form [type="text"]:focus,
form [type="email"]:focus,
form [type="password"]:focus {
    border-bottom: 1px solid #689bcc;
    outline: none;
    background: none;
    background-color: #1b5288;
    box-shadow: 0 0 5px 3px rgba(77, 137, 178, .8);
}

.subscribe {
    width: 276px;
    margin: 0 auto;
}

.subscribe input {
    margin: 1px 8px 0 1px;
    float: left;
}

form [type="submit"] {
    display: block;
    width: 149px;
    margin: 24px auto 20px;
    border: 1px solid #4e9ed8;
    border-radius: 2px;
    background: linear-gradient(to top, #2e7ac4, #50aedb);
    color: #fff;
    font-family: HelveticaNeue, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
}

form [type="submit"]:hover {
    box-shadow: 0 0 4px 0 rgba(80, 174, 219, .8);
}

.policy {
    font-size: 11px;
}

.policy span {
    display: block;
    line-height: 17px;
    text-align: center;
}
